[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=dmytro
Group=dmytro
WorkingDirectory=/home/dmytro/api
Environment="PATH=/home/dmytro/api/.venv/bin"
EnvironmentFile=/home/dmytro/api/.env
ExecStart=/home/dmytro/api/.venv/bin/gunicorn -w 6 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
